<!--views/frontend/home.ejs-->

<link rel="stylesheet" href="/styles/frontend/home.css" />
<script src="/scripts/paginate.js"></script>

<div class="feature-post">
    <% if(data.items){ %>
        <%
        if(data.items.length < 5){
            var condition = data.items.length
        }else{
            var condition = 5
        }
        %>
        <% for(let index=0; index<condition; index++){ %>
            <a href="/post/<%= data.items[index].key %>">
                <img src="<%= data.items[index].bookCover %>" />
            </a>
        <%  } %>
    <% } %>
</div>

<div class="top-nav">
    <img src="/images/left.png" />
    <img src="/images/home.png" />
    <img src="/images/right.png" />
</div>

<div class="front-ad">
    <img src="/images/donate-ad.jpg" />
    <img src="/images/donate-ad.jpg" />
</div>

<% if(data.articles){ %>
<div class="latest-article">Latest Articles</div>
<div class="Article">
    <% for(let article of data.articles){ %>
        <a class="thumb" href="/book/<%= article.key %>">
            <img src="<%= article.thumb %>" />
        </a>
    <% } %>
</div>
<div class="nav-article">
    <img src="/images/left.png" />
    <img src="/images/home.png" />
    <img src="/images/right.png" />
</div>
<% } %>